---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Kevin Lim Development";
---

<BaseLayout pageTitle={pageTitle}>
  <main class="container mx-auto px-4">
    <p>HOME PAGE</p>
  </main>
</BaseLayout>
